.section-1 {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .section-1-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 150px;
        padding: 130px;
        gap: 50px;

        h2 {
            font-family: $fraunces;
            font-size: 40px;
            font-weight: bold;

            color: $very-dark-desaturated-blue;
        }

        p {
            color: $dark-grayish-blue;
        }

        a{
            display: inline;
            text-transform: uppercase;
            font-family: $fraunces;

            color: $very-dark-desaturated-blue;
            border-bottom: 7px solid lighten($color: $yellow, $amount: 30);

            &:hover {
                border-bottom: 7px solid $yellow;
            }
        }
    }

    .section-1-right {
        background-image: url('/images/desktop/image-transform.jpg');
        background-size: cover;
    }

    @media (max-width: 375px) {
        height: auto;
        grid-template-columns: 1fr;

        .section-1-left {
            text-align: center;
            align-items: center;
            padding: 25px;
            margin-block: 50px;

            gap: 30px;
            order: 1;

            h2 {
                font-size: 35px;
            }
        }

        .section-1-right {
            background-image: url('/images/mobile/image-transform.jpg');
            height: 315px;
            order: 0;
        }
    }
}