@import 'base';
@import 'colors';

.container {
    max-width: 1440px;
    margin: auto;    
}

header {
    height: 800px;
    background-image: url('/images/desktop/image-header.jpg');
    background-size: cover;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 135px;
        padding-inline: 40px;

        .logo img {
            width: 170px;
        }

        .navbar-links {
            ul {
                display: flex;

                li {
                    margin-left: 50px;

                    a {
                        color: $white;
                    }

                    a.contact-button {
                        text-transform: uppercase;
                        font-family: $fraunces;
                        color: #000;
                        background-color: $white;

                        padding: 20px 30px;
                        border-radius: 44px;

                        &:hover {
                            background-color: #6fcffd;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .header-banner {
        margin: 70px;
        text-align: center;

        h1 {
            font-family: $fraunces;
            font-size: 60px;
            letter-spacing: 10px;
            font-weight: 900;
            color: $white;

            margin-bottom: 100px;
        }
    }
}

.section-1 {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .section-1-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 150px;
        padding: 130px;
        gap: 50px;

        h2 {
            font-family: $fraunces;
            font-size: 40px;
            font-weight: bold;

            color: $very-dark-desaturated-blue;
        }

        p {
            color: $dark-grayish-blue;
        }

        a{
            display: inline;
            text-transform: uppercase;
            font-family: $fraunces;

            color: $very-dark-desaturated-blue;
            border-bottom: 7px solid lighten($color: $yellow, $amount: 30);

            &:hover {
                border-bottom: 7px solid $yellow;
            }
        }
    }

    .section-1-right {
        background-image: url('/images/desktop/image-transform.jpg');
        background-size: cover;
    }
}

.section-2 {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .section-2-left {
        background-image: url('/images/desktop/image-stand-out.jpg');
        background-size: cover;
    }

    .section-2-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 150px;
        padding: 130px;
        gap: 50px;

        h2 {
            font-family: $fraunces;
            font-size: 40px;
            font-weight: bold;

            color: $very-dark-desaturated-blue;
        }

        p {
            color: $dark-grayish-blue;
        }

        a{
            display: inline;
            text-transform: uppercase;
            font-family: $fraunces;

            color: $very-dark-desaturated-blue;
            border-bottom: 7px solid lighten($color: $soft-red, $amount: 20);

            &:hover {
                border-bottom: 7px solid $soft-red;
            }
        }
    }
    
}

.section-3 {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .section-3-left {
        background-image: url('/images/desktop/image-graphic-design.jpg');
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 60px 170px;
        gap: 30px;

        h2 {
            font-family: $fraunces;
            font-size: 30px;
            color: $dark-desaturated-cyan;
        }

        p {
            color: $dark-moderate-cyan;
            text-align: center;
        }
    }

    .section-3-right {
        background-image: url('/images/desktop/image-photography.jpg');
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 60px 170px;
        gap: 30px;

        h2 {
            font-family: $fraunces;
            font-size: 30px;
            color: $very-dark-desaturated-blue;
        }

        p {
            color: $dark-blue;
            text-align: center;
        }
    }
    
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-block: 165px;

    h2 {
        font-family: $fraunces;
        font-size: 20px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: $grayish-blue;
    }

    .testimonial-cards {
        margin-top: 85px;
        display: flex;
        gap: 40px;

        .card {
            max-width: 330px;
            text-align: center;

            img {
                width: 75px;
                border-radius: 50%;
                margin-bottom: 65px;
            }

            p {
                margin-bottom: 80px;
                color: $dark-grayish-blue;
                line-height: 30px;
            }

            .name {
                display: block;
                font-size: 1.3rem;
                font-family: $fraunces;
                color: $very-dark-desaturated-blue;

                margin-bottom: 20px;
            }

            .position {
                display: block;
                color: $grayish-blue;
            }
        }
    }
}

.image-galery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;

    img {
        width: 100%;
    }
}

footer{
    background-color: lighten($color: $dark-moderate-cyan, $amount: 25);
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-container {
        margin-block: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: $fraunces;
            font-size: 40px;
            color: $dark-desaturated-cyan;

            margin-bottom: 50px;
        }

        .links {
            margin-bottom: 90px;
            ul{
                display: flex;
                gap: 60px;

                li a{
                    color: $dark-moderate-cyan;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        .social-media {
            ul {
                display: flex;
                gap: 25px;

                li a:hover svg path {
                    fill: $white;
                }
            }
        }
    }
}