* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
}

header {
  height: 800px;
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 135px;
  padding-inline: 40px;
}
header nav .logo img {
  width: 170px;
}
header nav .navbar-links ul {
  display: flex;
}
header nav .navbar-links ul li {
  margin-left: 50px;
}
header nav .navbar-links ul li a {
  color: hsl(0deg, 0%, 100%);
}
header nav .navbar-links ul li a.contact-button {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: #000;
  background-color: hsl(0deg, 0%, 100%);
  padding: 20px 30px;
  border-radius: 44px;
}
header nav .navbar-links ul li a.contact-button:hover {
  background-color: #6fcffd;
  color: hsl(0deg, 0%, 100%);
}
header .header-banner {
  margin: 70px;
  text-align: center;
}
header .header-banner h1 {
  font-family: "Fraunces", serif;
  font-size: 60px;
  letter-spacing: 10px;
  font-weight: 900;
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 100px;
}

.section-1 {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-1 .section-1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 150px;
  padding: 130px;
  gap: 50px;
}
.section-1 .section-1-left h2 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: bold;
  color: hsl(212deg, 27%, 19%);
}
.section-1 .section-1-left p {
  color: hsl(232deg, 10%, 55%);
}
.section-1 .section-1-left a {
  display: inline;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
  border-bottom: 7px solid #ffef94;
}
.section-1 .section-1-left a:hover {
  border-bottom: 7px solid hsl(51deg, 100%, 49%);
}
.section-1 .section-1-right {
  background-image: url("/images/desktop/image-transform.jpg");
  background-size: cover;
}

.section-2 {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-2 .section-2-left {
  background-image: url("/images/desktop/image-stand-out.jpg");
  background-size: cover;
}
.section-2 .section-2-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 150px;
  padding: 130px;
  gap: 50px;
}
.section-2 .section-2-right h2 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: bold;
  color: hsl(212deg, 27%, 19%);
}
.section-2 .section-2-right p {
  color: hsl(232deg, 10%, 55%);
}
.section-2 .section-2-right a {
  display: inline;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
  border-bottom: 7px solid #ffd2cc;
}
.section-2 .section-2-right a:hover {
  border-bottom: 7px solid hsl(7deg, 99%, 70%);
}

.section-3 {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-3 .section-3-left {
  background-image: url("/images/desktop/image-graphic-design.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 60px 170px;
  gap: 30px;
}
.section-3 .section-3-left h2 {
  font-family: "Fraunces", serif;
  font-size: 30px;
  color: hsl(167deg, 40%, 24%);
}
.section-3 .section-3-left p {
  color: hsl(168deg, 34%, 41%);
  text-align: center;
}
.section-3 .section-3-right {
  background-image: url("/images/desktop/image-photography.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 60px 170px;
  gap: 30px;
}
.section-3 .section-3-right h2 {
  font-family: "Fraunces", serif;
  font-size: 30px;
  color: hsl(212deg, 27%, 19%);
}
.section-3 .section-3-right p {
  color: hsl(198deg, 62%, 26%);
  text-align: center;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 165px;
}
.testimonials h2 {
  font-family: "Fraunces", serif;
  font-size: 20px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: hsl(210deg, 4%, 67%);
}
.testimonials .testimonial-cards {
  margin-top: 85px;
  display: flex;
  gap: 40px;
}
.testimonials .testimonial-cards .card {
  max-width: 330px;
  text-align: center;
}
.testimonials .testimonial-cards .card img {
  width: 75px;
  border-radius: 50%;
  margin-bottom: 65px;
}
.testimonials .testimonial-cards .card p {
  margin-bottom: 80px;
  color: hsl(232deg, 10%, 55%);
  line-height: 30px;
}
.testimonials .testimonial-cards .card .name {
  display: block;
  font-size: 1.3rem;
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
  margin-bottom: 20px;
}
.testimonials .testimonial-cards .card .position {
  display: block;
  color: hsl(210deg, 4%, 67%);
}

.image-galery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}
.image-galery img {
  width: 100%;
}

footer {
  background-color: #8bc6ba;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container {
  margin-block: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-container h2 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  color: hsl(167deg, 40%, 24%);
  margin-bottom: 50px;
}
footer .footer-container .links {
  margin-bottom: 90px;
}
footer .footer-container .links ul {
  display: flex;
  gap: 60px;
}
footer .footer-container .links ul li a {
  color: hsl(168deg, 34%, 41%);
}
footer .footer-container .links ul li a:hover {
  color: hsl(0deg, 0%, 100%);
}
footer .footer-container .social-media ul {
  display: flex;
  gap: 25px;
}
footer .footer-container .social-media ul li a:hover svg path {
  fill: hsl(0deg, 0%, 100%);
}/*# sourceMappingURL=main.css.map */